@mixin addons {
    border-radius: 25px;
    background-color: gold;
}

@mixin color ($bg-color) {
    background-color: $bg-color;
}

@mixin size ($size) {
    height: $size;
    width: $size;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #333;
}

.square {
    margin: 50px;
    // width: 200px;
    // height: 200px;
    border: 5px solid black;
    @include size(300px);
    @include addons;
}

.success {
    @include color(lime)
}

.warning {
    @include color(tomato)
}