$main-color: lime;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: darkblue;
}

.box {
    margin: 20px auto;
    width: 50%;
    height: 60px;
    border: 3px solid black;
    border-radius: 25px;
}

.color1 {
    background-color: $main-color;
}

.color2 {
    background-color: royalblue;
}

.color3 {
    background-color: $main-color;
}

.color4 {
    background-color: royalblue;
}

.color5 {
    background-color: $main-color;
}