nav {
    ul {
        list-style: none;
    }

    li {
        background-color: red;
        font-size: 30px;
    }

    ul {
        li {
            a {
                text-align: center;
            }
        }
    }
}